
<!-- <app-visual></app-visual> -->


 
  
        <h4 class="text mt-4">3.Visualizer</h4>
      <div class="card mb-4 mt-2">
        <!--Card content-->
        <div class="card-body">
         <div class="container">
           <div class="row">
              <div class="col-lg-5">
                <h3 class="tex text-center mt-5 text-muted">customers</h3>
                <h3 class="tex text-center mt-5 text-muted">orders</h3>
              </div>
              <div class="col-lg-5 mt-4">
                <!-- Button trigger modal -->
              
                    <h3 class="tex text-center mt-5 text-muted"  data-toggle="modal" data-target="#basicExampleModal">Join</h3>
              
                
                <!-- Modal -->
                <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">Verify the primary key for joining</h5>
                        
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-center">
                        <form action="/action_page.php">
                          <select name="cars">
                            <option value="CustomerId">CustomerId</option>
                            <option value="saab">Saab</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                          </select><br><br>
                          <select name="cars ">
                            <option value="CustomerId">CustomerId</option>
                            <option value="saab">Saab</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                          </select>
                          <br><br>
                          <input type="submit" value="Join" >
                          
                        </form>

                      </div>
                   
                    </div>
                  </div>
                </div>
              
                <h3 class="tex text-center mt-5 text-muted"  data-toggle="modal" data-target="#basicExampleModa">Transform</h3>
                  <!-- Modal -->
                  <div class="modal fade" id="basicExampleModa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-center" id="exampleModalLabel">What Transform you want to apply?</h5>
                  
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body text-center">
                          <form action="/action_page.php">
                            <select name="cars">
                              <option value="Ascendind">Ascending</option>
                              <option value="saab">Saab</option>
                              <option value="fiat">Fiat</option>
                              <option value="audi">Audi</option>
                            </select><br><br>
                            <select name="cars ">
                              <option value="CustomerId">CustomerId</option>
                              <option value="saab">Saab</option>
                              <option value="fiat">Fiat</option>
                              <option value="audi">Audi</option>
                            </select>
                            <br><br>
                            <input type="submit" value="Transform">
                  
                          </form>
                  
                        </div>
                  
                      </div>
                    </div>
                  </div>
                <h3 class="tex text-center mt-5 text-muted"  data-toggle="modal" data-target="#basicExampleMod">Output file type</h3>
                  <!-- Modal -->
                  <div class="modal fade" id="basicExampleMod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-center" id="exampleModalLabel">Select output file type</h5>
                  
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body text-center">
                          <form action="/action_page.php">
                            <select name="cars">
                              <option value="Csv">Csv</option>
                              <option value="saab">Saab</option>
                              <option value="fiat">Fiat</option>
                              <option value="audi">Audi</option>
                            </select>
                           
                            <br><br>
                            <input type="submit" value="Join">
                  
                          </form>
                  
                        </div>
                  
                      </div>
                    </div>
                  </div>
               
              </div>
              <button type="button" class="btn mt-5" id="btn">Run The Mapping
              </button>
           </div>
         </div>
        </div>
      </div>
   


 

