.tex{
    border-style: dashed ;
    font-size: 15px;
    padding: 5px;
 }
 #btn{
     margin-left: 38%;
     background-color: #4177CD;
     font-size: 12px;
     text-transform: capitalize;
     color: #FFFFFF;
 }
 .card{
     width: 150% !important;
     right: 155px;
     bottom: 5px;
 }
 