<div class="container-fluid">
  <div class="row">
    
        <div class="col-lg-4">
      <!-- Card deck -->
      <h4 class="text mt-4 ">1.Select Format</h4>
      <!-- Card -->
      <div class="card mb-4 mt-2">
        <!--Card image-->
        <div class="view overlay">

          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->

          <div>

            <!-- Default checked -->
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultChecked2" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <label class="custom-control-label" for="defaultChecked2">
                MySql</label>

            </div>

          </div>
          <div class="collapse" id="collapseExample">
            <div class="mt-3">
              <input class="form-control mt-2" type="text" placeholder="root">
              <input class="form-control mt-2" type="text" placeholder="Password">
              <input class="form-control mt-2" type="text" placeholder="Localhost">
              
              <button type="button" class="btn btn-light">
                
                <a routerLink="/mysql">
                  Submit</a>
                  </button>
               

            </div>
          </div>
          <hr>
          <div>

            <!-- Default checked -->
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultChecked3" data-toggle="collapse"
                data-target="#collapse" aria-expanded="false" aria-controls="collapse">
              <label class="custom-control-label" for="defaultChecked3">CSV</label>
            </div>

          </div>
          <div class="collapse" id="collapse">
            <div class="mt-3">
              <form class="md-form" action="#">
                <div class="file-field">
                  <div class="btn btn-light btn-sm float-left" id="button">

                    <input type="file" multiple>
                  </div>

                </div>
              </form>
            </div>
           
            <button type="button" class="btn btn-light">
            
                <a routerLink="/csv">
                  Submit</a>
           
            </button>
        
          </div>

        </div>

      </div>

    </div>
  
   
      <router-outlet></router-outlet>
      

 <!-- <div class="col-lg-4">
 
    <app-msql-visual></app-msql-visual>
     
   </div> -->
 
  
  </div>
</div>
