.tex{
    border-style: dashed ;
    font-size: 15px;
    padding: 5px;
 }
 #btn{
     margin-left: 15%;
     background-color: #4177CD;
     font-size: 12px;
     text-transform: capitalize;
     color: #FFFFFF;
 }
 .card{
     display: inline-block;
     flex-direction: row-reverse;
    
 }
 