
<!-- <app-csv></app-csv> -->

      <!-- Card deck -->
      <h4 class="text mt-4">3.Visualizer</h4>
      <!-- Card -->
      <div class="card mb-4 mt-2">
        <!--Card image-->
        <div class="view overlay">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card content-->
        <div class="card-body">
          <h3 class="tex text-center mt-5 text-muted">File</h3>
          <h3 class="tex text-center mt-5 text-muted">Transform</h3>
          <h3 class="tex text-center mt-5 text-muted">Output as MySql</h3>
          <button type="button" class="btn  mt-4" id="btn">Run The Mapping
          </button>
        </div>
      </div>
 


